@font-face {
	font-family: 'HelvUL';
	src: url("/assets/fonts/ER/HelveticaUltraLight.otf"); format ('otf');	
}


@font-face {
	font-family: "RotondaC";
	src: url("/assets/fonts/ER/HelveticaThin.otf"); format ('otf');
}

@font-face {
	font-family: "HelvL";
	src: url("/assets/fonts/ER/HelveticaLight.otf"); format ('otf');
}



a {
    cursor: default;
	text-decoration: none;
	color: rgb(184, 0, 0);
}

a:hover {
	text-decoration: underline;
	color: rgb(184, 0, 0);
}

body {
	background-image: url("/assets/images/bg2.png");
	background-repeat: repeat;
	background-position-x: 100%;
	background-position-y: -180%;
	overflow-x:hidden;
	//overflow-y:hidden;
	min-width: 1000px;
}

#header {
position: fixed;
top: 0px;
left: 0px;
z-index: 2000;
height: 70px;
min-height: 20px;
width: 100%;
}

.footerItemsBlockHasNoTitle{
	padding-top: 20px;
}


.headerBox {
position: fixed;
height: 15px;
width: 15px;
background-size: contain;
background-repeat: no-repeat;
z-index: 2001;
margin: auto;
right: 0;
left: 0;
}

#bg_img {
  z-index: -20;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  //-webkit-filter: blur(2px);
}

#logoDiv {
position: fixed;
height: 70px;
width: 105px;
left: 0;
margin: auto;
right: 1120px;
}

#logoImg {
position: absolute;
height: 45px;
width: 105px;
top: 12px;
}

#dataContainer {
top: 70px;
height: auto;
min-height: 1000px;
width: 1280px;
position: absolute;
margin: auto;
left: 0;
right: 0;
}

#scrollup {
width: 48px;
height: 48px;
position: fixed;
bottom: 5%;
right: 0.3%;
display: none;
text-indent: -9999px;
//background: url("/assets/images/up.png") no-repeat;
}

#advsContainer{
	position: absolute;
	height: 100%;
	z-index: 0;
	left: 280px;
	width: 990px;
	top: 0px;
	//padding-top: 60px;
	margin-bottom: 270px; //footer height + real margin
}

#leftSideBar {
position: absolute;
width: 260px;
margin: auto;
height: auto;
left: 0px;
right: 1000px;
margin-top: -70px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 0.65);
z-index: 1;
top: 80px;
margin-bottom: 270px; //footer height + real margin

}



.lsbItemImg{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.lsbItemText{
    position: absolute;
    top: 0px;
    left: 65px;
    margin: 5px;
    padding-left: 5px;
    padding-top:12px;
    height: auto;
    width: 175px;
}

h1 {
padding-left: 15px;
font-size: 22px;
font-family: HelvUL;
letter-spacing: 1px;
}

.footerItemsBlock{
	margin-bottom: 15px;
}

.footerColumn{
	position: absolute;
	width: 150px;	
}

.footerItem {
padding-left: 10px;
font-family: Arial;
font-size: 10px;
color: dimgray;
}

.footerTitle {
font-family: RotondaC;
color: rgb(85, 85, 85);
border-bottom: 1px solid;
margin-bottom: 5px;
}

#copyright {
position: absolute;
margin: auto;
left: 0px;
right: 0;
bottom: 5px;
text-align: center;
font-family: Arial;
font-size: 10px;
}


#bnnLogo{
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0;
	bottom: 25px;
	height: 60px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

#footer {
bottom: 0px;
height: 230px;
width: 1220px;
position: absolute;
margin: auto;
left: 0px;
right: 0;
background-color: white;
margin-top: 200px;
padding: 20px;
}

.formLabel{
	font-size: 12px;
	font-family: HelvL;
	margin: 5px;
	padding-left: 2px;
}


.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 1000%;
	height: 1000%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=80);
}

.footerItemA{
	color: dimgray;
}