@()

<div class="adv" style="width: 960px; position: absolute; left: 0px; top: 1305px; background-color: rgba(255, 255, 255, 0.65); height: auto; border-radius: 5px; margin-bottom: 10px; padding: 15px; font-family: RotondaC;"> 
	<p>
		<strong>Банан</strong> позволяет взглянуть на отдых по-новому. 
		Каждый мечтает дешево и хорошо отдохнуть. Но как? Горящий тур? Не всем удается “выхватить” его в последний момент – желающих много. 
		Мы Вам поможем! Банан специализируется на поиске актуальных горящих туров от вевозможных туроператоров.
	</p>
		
	<p>
		<i>Статистическая справка:</i> Сейчас Банан обрабатывает информацию с более чем <strong>30 туристических  ресурсов Украины,</strong> 
		включая всех крупнейших “монстров” на этом рынке. Благодаря автоматизированной интеллектуальной системе Банан
		 ежедневно пропускает через себя тысячи горящих предложений.
	</p>
	
	<p><strong>Что умеет Банан:</strong></p>
	<p>
  	 <ul>
		<li> 
			<p><strong>Поиск по всем сайтам одновременно</strong></p>
			<p>Хотите отдохнуть дешево и серито? Открываете несколько сайтов и в каждом ищете горящие туры.
			 Банан делает это сам, в сотни раз быстрее и каждую минуту.</p>
		</li>
		<li> 
			<p><strong>Постоянный мониторинг обновлений</strong></p>
			<p>Кроме новых туров, Банан обновляет и существующие. 
			Возможно, тур уже выкупили или цена на него упала еще больше! 
			Банан всегда предоставляет актуальные данные.</p>
		</li>
		<li> 
			<p><strong>Обновление базы изображений</strong></p>
			<p>Банан работает со многими социальными сетями и использует для объявлений только самые
			 новые изображения от пользователей. Благодаря этому вы можете видеть страны такими как они есть сейчас.</p>
		</li>
		<li> 
			<p><strong>Уникальные алгоритмы</strong></p>
			<p>Банан поработал над тем, чтобы Вам попали только те туры, которые действительно горящие, 
			то есть с ценой на уровень ниже, чем обычный тур. Наши роботы ежесекундно посещяют 
			тысячи страниц туров, находя только то, что нужно именно Вам.</p>
		</li>
		<li> 
			<p><strong>Уникальные алгоритмы</strong></p>
			<p>Банан поработал над тем, чтобы Вам попали только те туры, которые действительно горящие, 
			то есть с ценой на уровень ниже, чем обычный тур. Наши роботы ежесекундно посещяют 
			тысячи страниц туров, находя только то, что нужно именно Вам.</p>
		</li>
		<li> 
			<p><strong>Рейтинг туроператоров</strong></p>
			<p>Путешествуйте с теми, на кого можно положиться! Выбирайте туры от лучших туроператоров Украины,
			 рейтинг которых составлен Бананом с помощью специальной методики!</p>
		</li>
	 </ul>
	</p>
		
	<p><strong>Что дальше?</strong></p>
	<p>
	В ближайшем будущем мы предоставим сервис непосредственной работы с туроператорами, 
	для получения еще более выгодных предложений для Вас!
	</p>
</div>