@()

<div class="adv" style="width: 970px; position: absolute; left: 0px; top: 0px; height: auto; padding-top: 10px; padding-left: 20px; padding-bottom: 10px; font-family: RotondaC; font-size: 25px; background-color: rgba(255, 255, 255, 0.65);; margin-top: 10px; -webkit-box-shadow: 0px 0px 0px 0px rgba(1, 1, 1, 0.6); 	-moz-box-shadow: 0px 0px 0px 0px rgba(1, 1, 1, 0.6); 	box-shadow: 0px 0px 0px 0px rgba(1, 1, 1, 0.6);">
	  
	  <div id="commentContactTitle" style="font-size: 18px;">Оставляйте свои пожелания! Сделаем Banan лучше!</div>
	  
	  <div id="commentNameLabel" class="formLabel">Представьтесь</div>
	  <input id="nameComment" type="text" name="mail" size="30" maxlength="30"/>
	  
	  <div id="commentEmailLabel" class="formLabel">E-mail</div>
	  <input id="mailComment" type="text" name="name" size="30" maxlength="30"/>	  	  	  
	  
	  <div id="commentCommentLabel" class="formLabel">Комментарий</div>
	  <input id="commentComment" type="text" name="comment" style="margin-bottom: 15px;" size="100" maxlength="200"/>
	
	  <div id="submitComment" class="submitBtn" onclick="submitComment()">Отправить</div>
	  
<script type="text/javascript">	  	 

	function submitComment()
	{
		$.post( "/comment/submit", 
				{
		 			nm: document.getElementById('nameComment').value, 
					em: document.getElementById('mailComment').value,
					cm: document.getElementById('commentComment').value
				}, 
				function( data ) {
				  	document.getElementById('light').style.display='block';		  
				}
 		);
		
		document.getElementById('fade').style.display='block';
	}

</script>
	  
</div>