@()

<div id="footer">				
			<div class="footerColumn">
				<div class="footerItemsBlock">
					<div class="footerTitle">Континенты</div>
						<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%95%D0%B2%D1%80%D0%BE%D0%BF%D1%83">Европа</a></div>
						<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%90%D0%B7%D0%B8%D1%8E">Азия</a></div>
						<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%90%D1%84%D1%80%D0%B8%D0%BA%D1%83">Африка</a></div>
						<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D1%8E_%D0%B8_%D0%9E%D0%BA%D0%B5%D0%B0%D0%BD%D0%B8%D1%8E">Австралия и Океания</a></div>																	
						<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A1%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D1%8E_%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D1%83">Северная Америка</a></div>
						<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%AE%D0%B6%D0%BD%D1%83%D1%8E_%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D1%83">Южная Америка</a></div>					
				</div>							
			</div>
											
			<div class="footerColumn" style="left: 200px">
				<div class="footerItemsBlock">
					<div class="footerTitle">Страны</div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B8%D1%8E">Австрия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%91%D0%B5%D0%BB%D1%8C%D0%B3%D0%B8%D1%8E">Бельгия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%91%D0%BE%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8E">Болгария</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%92%D0%B5%D0%BD%D0%B3%D1%80%D0%B8%D1%8E">Венгрия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2%D0%BE_%D0%92%D1%8C%D0%B5%D1%82%D0%BD%D0%B0%D0%BC">Вьетнам</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8E">Германия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%93%D1%80%D0%B5%D1%86%D0%B8%D1%8E">Греция</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%93%D1%80%D1%83%D0%B7%D0%B8%D1%8E">Грузия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%94%D0%BE%D0%BC%D0%B8%D0%BD%D0%B8%D0%BA%D0%B0%D0%BD%D1%83">Доминикана</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%95%D0%B3%D0%B8%D0%BF%D0%B5%D1%82">Египет</a></div>					
				</div>							
			</div>
			
			<div class="footerColumn" style="left: 370px">
				<div class="footerItemsBlock footerItemsBlockHasNoTitle">
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%98%D0%B7%D1%80%D0%B0%D0%B8%D0%BB%D1%8C">Израиль</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%98%D0%BD%D0%B4%D0%BE%D0%BD%D0%B5%D0%B7%D0%B8%D1%8E">Индонезия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%98%D0%BE%D1%80%D0%B4%D0%B0%D0%BD%D0%B8%D1%8E">Иордания</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%98%D1%81%D0%BF%D0%B0%D0%BD%D0%B8%D1%8E">Испания</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8E">Италия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%BD%D0%B0_%D0%9A%D0%B8%D0%BF%D1%80">Кипр</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%9A%D0%B8%D1%82%D0%B0%D0%B9">Китай</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%BD%D0%B0_%D0%9A%D1%83%D0%B1%D1%83">Куба</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%9B%D0%B0%D1%82%D0%B2%D0%B8%D1%8E">Латвия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%9B%D1%8E%D0%BA%D1%81%D0%B5%D0%BC%D0%B1%D1%83%D1%80%D0%B3">Люксембург</a></div>
				</div>
			</div>
			
			<div class="footerColumn" style="left: 540px">
				<div class="footerItemsBlock footerItemsBlockHasNoTitle">
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%BD%D0%B0_%D0%9C%D0%B0%D0%B2%D1%80%D0%B8%D0%BA%D0%B8%D0%B9">Маврикий</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%BD%D0%B0_%D0%9C%D0%B0%D0%BB%D1%8C%D0%B4%D0%B8%D0%B2%D1%8B">Мальдивы</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%9C%D0%B0%D1%80%D0%BE%D0%BA%D0%BA%D0%BE">Марокко</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%9C%D0%BE%D0%BD%D0%B0%D0%BA%D0%BE">Монако</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%93%D0%BE%D0%BB%D0%BB%D0%B0%D0%BD%D0%B4%D0%B8%D1%8E">Нидерланды</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%AD%D0%BC%D0%B8%D1%80%D0%B0%D1%82%D1%8B">ОАЭ</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%9F%D0%BE%D0%BB%D1%8C%D1%88%D1%83">Польша</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8E">Россия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A0%D1%83%D0%BC%D1%8B%D0%BD%D0%B8%D1%8E">Румыния</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%BD%D0%B0_%D0%A1%D0%B5%D0%B9%D1%88%D0%B5%D0%BB%D0%BB%D1%8B">Сейшеллы</a></div>
				</div>				
			</div>
			
			<div class="footerColumn" style="left: 710px">
				<div class="footerItemsBlock footerItemsBlockHasNoTitle">
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A1%D0%B5%D1%80%D0%B1%D0%B8%D1%8E">Сербия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A1%D0%B8%D0%BD%D0%B3%D0%B0%D0%BF%D1%83%D1%80">Сингапур</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A1%D0%BB%D0%BE%D0%B2%D0%B0%D0%BA%D0%B8%D1%8E">Словакия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A1%D0%BB%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D1%8E">Словения</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A1%D0%A8%D0%90">США</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A2%D0%B0%D0%B8%D0%BB%D0%B0%D0%BD%D0%B4">Таиланд</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A2%D1%83%D0%BD%D0%B8%D1%81">Тунис</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A2%D1%83%D1%80%D1%86%D0%B8%D1%8E">Турция</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%83">Украина</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2%D0%BE_%D0%A4%D1%80%D0%B0%D0%BD%D1%86%D0%B8%D1%8E">Франция</a></div>
				</div>				
			</div>
			
			<div class="footerColumn" style="left: 880px">
				<div class="footerItemsBlock footerItemsBlockHasNoTitle">
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A5%D0%BE%D1%80%D0%B2%D0%B0%D1%82%D0%B8%D1%8E">Хорватия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A7%D0%B5%D1%80%D0%BD%D0%BE%D0%B3%D0%BE%D1%80%D0%B8%D1%8E">Черногория</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A7%D0%B5%D1%85%D0%B8%D1%8E">Чехия</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%A8%D0%B2%D0%B5%D0%B9%D1%86%D0%B0%D1%80%D0%B8%D1%8E">Швейцария</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%BD%D0%B0_%D0%A8%D1%80%D0%B8-%D0%9B%D0%B0%D0%BD%D0%BA%D1%83">Шри-Ланка</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B2_%D0%AD%D1%81%D1%82%D0%BE%D0%BD%D0%B8%D1%8E">Эстония</a></div>
				</div>				
			</div>
			
			<div class="footerColumn" style="left: 1035px">
				<div class="footerItemsBlock" style="width: 200px;">
					<div class="footerTitle">Интересные предложения</div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B4%D0%BB%D1%8F_%D0%B4%D0%B2%D0%BE%D0%B8%D1%85">Туры на двоих</a></div>
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D1%81_%D0%BF%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D0%B5%D0%BC">Туры с питанием</a></div>					
					<div class="footerItem"><a class="footerItemA" href="/%D0%93%D0%BE%D1%80%D1%8F%D1%89%D0%B8%D0%B5_%D1%82%D1%83%D1%80%D1%8B_%D0%B8%D0%B7_%D0%9A%D0%B8%D0%B5%D0%B2%D0%B0">Туры из Киева</a></div>								
			</div>			
			</div>
						
											
			<img id="bnnLogo" src="/assets/images/bnn_logo.png"/>
			<div id="copyright">&copy;2014 Все права защищены. Банан. Создан в Киеве. Для всей Украины!</div>
								
		</div>