@(menuSelected : ua.banan.web.MenuSelector, searchColors : String)

#menuHot {
	position: fixed;
	height: 19px;
	width: 134px;
	left: 0;
	margin: auto;
	right: 820px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	@if(menuSelected != null && menuSelected.isHot()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
}

#menuHot:hover {
position: fixed;
height: 19px;
width: 134px;
left: 0;
margin: auto;
right: 820px;
padding-left: 10px;
padding-right: 10px;
padding-top: 25px;
padding-bottom: 25px;
text-align: center;
	@if(menuSelected != null && menuSelected.isHot()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
background-color: rgba(230, 230, 230, 0.6);
}

#menuSea {
position: fixed;
height: 19px;
width: 115px;
left: 0;
margin: auto;
right: 530px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isSea()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
}

#menuSea:hover {
position: fixed;
height: 19px;
width: 115px;
left: 0;
margin: auto;
right: 530px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isSea()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
background-color: rgba(230, 230, 230, 0.6);
}

#menuBus {
position: fixed;
height: 19px;
width: 133px;
left: 0;
margin: auto;
right: 243px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isBus()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
}

#menuBus:hover {
position: fixed;
height: 19px;
width: 133px;
left: 0;
margin: auto;
right: 243px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isBus()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
background-color: rgba(230, 230, 230, 0.6);
}


#menuPartner {
position: fixed;
height: 19px;
width: 90px;
left: 0;
margin: auto;
right: -20px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isPartners()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
}

#menuPartner:hover {
position: fixed;
height: 19px;
width: 90px;
left: 0;
margin: auto;
right: -20px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isPartners()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
background-color: rgba(230, 230, 230, 0.6);
}

#menuFeedback {
position: fixed;
height: 19px;
width: 93px;
left: 0;
margin: auto;
right: -242px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isFeedback()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
}

#menuFeedback:hover {
position: fixed;
height: 19px;
width: 93px;
left: 0;
margin: auto;
right: -242px;
padding-top: 25px;
padding-bottom: 25px;
padding-right: 10px;
padding-left: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isFeedback()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
background-color: rgba(230, 230, 230, 0.6);
}

#menuAboutUs {
position: fixed;
height: 19px;
width: 50px;
left: 0;
margin: auto;
right: -425px;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 10px;
padding-right: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isAbout()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
}

#menuAboutUs:hover {
position: fixed;
height: 19px;
width: 50px;
left: 0;
margin: auto;
right: -425px;
padding-top: 25px;
padding-bottom: 25px;
padding-left: 10px;
padding-right: 10px;
text-align: center;
	@if(menuSelected != null && menuSelected.isAbout()) {
		-webkit-box-shadow: inset 0px -10px 0px -5px @searchColors;
		-moz-box-shadow: inset 0px -10px 0px -5px @searchColors;
		box-shadow: inset 0px -10px 0px -5px @searchColors;
	}
background-color: rgba(230, 230, 230, 0.6);
}